.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 900px;
}

.home-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 80px;
  background-color: black;
}

.home-figure {
  position: relative;
  background-image: url("../BodyCompo/imgs/home.jpeg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 600px;
  height: 1800px;
  opacity: 0.5;
  z-index: 1;
}

.home-text {
  position: absolute;
  top: 500px;
  right: 20px;
  width: 800px;
  color: #fff;
  font-weight: 800;
  font-size: 40px;
  font-family: $font-second;
  z-index: 2;
  span {
    color: $color-main;
  }
}

.about-me-section {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -400px;
  width: 100%;
  min-height: 600px;
  background-color: $color-main;
  z-index: 10;
}

.about-me-title {
  color: #fff;
  font-weight: 800;
  font-size: 36px;
  font-family: $font-second;
  text-align: center;
}

.paragraph {
  width: 50%;
  margin-left: 50px;
  color: #fff;
  font-weight: 300;
  font-size: 30px;
  font-family: $font-second;
}

@media screen and (max-width: 1715px) {
  .box-container.second {
    width: 17.4vw;
  }

  .box-container.third {
    width: 17vw;
  }
}

@media screen and (max-width: 1050px) {
  .box-container.second {
    width: 16.2vw;
  }

  .box-container.third {
    width: 15vw;
  }
}

@media screen and (max-width: 750px) {
  .home-section {
    height: 1600px;
  }
  .home-container {
    flex-wrap: wrap;
  }

  .box-container {
    min-width: 300px;
  }

  .box-container.second {
    display: none;
  }

  .box-container.third {
    display: none;
  }
}

@media screen and (max-width: 616px) {
  .home-section {
    height: 1000px;
    margin-bottom: 150px;
  }

  .box-container {
    min-width: 250px;
    height: 420px;
    margin-top: 70px;
  }
}

@media screen and (max-width: 516px) {
  .home-section {
    height: 2050px;
    margin-bottom: 160px;
  }
}
