$font-main: "Montserrat", sans-serif;
$font-second: "Lato", sans-serif;

//"Caveat", cursive;
//"Indie Flower", cursive;

$color-main: #ba907a;

@mixin img-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

body {
  margin: 0;
  background-color: #fff;
}

figure {
  margin: 0;
}
