.shooting-page {
  width: 100vw;
  // height: 100vh;
}

.shooting-descript-container {
  padding-top: 100px;
  padding-bottom: 20px;
  background-color: #181717;
  height: 15vh;
}

.shooting-descript {
  background-color: #fff;
  color: #222;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  font-family: $font-main;
  padding: 50px 0;
  margin-top: 10px;
  .shooting-link {
    color: #222;
    cursor: pointer;
  }
}

.shooting-box-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 700px;
}

.shooting-box {
  color: #fff;
  text-align: center;
  width: 700px;
  height: 500px;
  border: 3px dashed #fff;
}

.shooting-box-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: $font-main;
  font-size: 38px;
  height: 300px;
  h3 {
    font-weight: 200;
  }
  span {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
  }
}

.shooting-box-content-text {
  text-align: center;
  font-size: 26px;
  font-family: $font-second;
  margin: 0 100px;
  span {
    display: inline-block;
    margin-top: 30px;
    font-size: 50px;
  }
}

.content-text {
  background-color: $color-background;
  opacity: 0;
  margin-top: -50px;
  z-index: 2;
}

.shooting-box-img {
  position: absolute;
  width: 720px;
  height: 500px;
  top: 310px;
  margin-left: -10px;
}
.box-img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  margin: -2px;
}

@media screen and (max-width: 1400px) {
  .shooting-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .shooting-descript {
    width: 100vw;
    font-size: 24px;
    padding: 50px 0;
    margin-top: 100px;
  }

  .shooting-box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 1300px;
  }

  .shooting-box {
    position: relative;
    width: auto;
    height: 300px;
    border: 0px dashed #fff;
  }

  .shooting-box-content {
    background-color: #222;
    align-items: center;
    font-family: $font-main;
    font-size: 20px;
    width: 390px;
    height: 200px;
    z-index: 2;
    span {
      font-size: 26px;
    }
  }

  .shooting-box-img {
    display: flex;
    opacity: 1;
    position: relative;
    width: 440px;
    top: -450px;
    height: 250px;
    margin: 0px -25px;
    z-index: -1;
  }

  .box-img {
    object-fit: cover;
    width: 150px;
    height: 250px;
    margin: -2px;
  }
}

@media screen and (max-width: 600px) {
  .shooting-box-content {
    width: 270px;
  }

  .shooting-box-img {
    width: 320px;
  }
  .box-img {
    width: 110px;
  }
}
