/* ALL BODY */

html,
body {
  margin: 0px auto;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* MENU */

#menu {
  display: table;
  background-color: #fff;
  height: 125px;
}

.liM {
  float: left;
  list-style-type: none;
  margin-left: 250px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #111;
  border-radius: 0px;
  transition: border-radius 0.5s;
}

.liM:hover {
  border-radius: 100px;
}

nav a {
  color: #111;
  font-size: 30px;
  text-decoration: none;
  font-family: "Alegreya", serif;
}

#lign-menu {
  float: left;
  background-color: #222;
  margin-top: 0px;
  margin-left: 200px;
  border-radius: 100px;
  box-shadow: 0px 5px 10px #111;
}

@media screen and (min-width: 320px) and (max-width: 1050px) {
  /*////// MEDIA QUERIES //////////////////////////*/

  html,
  body {
    margin: 0px auto;
    scroll-behavior: smooth;
  }

  /* MENU */

  #menu {
    width: 470px;
    display: table;
    background-color: #fff;
    height: 125px;
  }

  .liM {
    float: left;
    list-style-type: none;
    margin-left: 4%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 3px solid #111;
    border-radius: 0px;
    transition: border-radius 0.5s;
  }

  .liM:hover {
    border-radius: 100px;
  }

  nav a {
    color: #111;
    font-size: 22px;
    text-decoration: none;
    font-family: "Alegreya", serif;
  }

  #lign-menu {
    float: left;
    background-color: #222;
    width: 482px;
    height: 4px;
    margin-top: 0px;
    margin-left: 0%;
    border-radius: 100px;
    box-shadow: 0px 3px 8px #111;
  }
} /*////// MEDIA QUERIES //////////////////////////END//////////*/

/* IMAGE DE BIENVENUE */

#h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 60px;
  margin-top: 60px;
  margin-left: 800px;
}

#alltop {
  float: left;
  width: 1902px;
}

#canvas {
  float: left;
  margin-left: 100px;
  opacity: 1;
  transition: opacity 0.6s;
}

#canvas:active {
  opacity: 0;
}

#flleft {
  float: left;
  font-size: 30px;
  color: #fff;
  background-color: #999;
  width: 2%;
  padding-left: 15px;
  margin-top: 400px;
  margin-left: 200px;
  box-shadow: 0px 0px 20px #666;
  opacity: 0;
  transition: opacity 0.5s;
}

#flleft:hover {
  opacity: 1;
}

#flleft:active {
  background-color: #111;
}

#flright {
  float: right;
  clear: right;
  font-size: 30px;
  color: #fff;
  background-color: #999;
  width: 2%;
  padding-left: 20px;
  margin-top: 400px;
  margin-right: 200px;
  box-shadow: 0px 0px 20px #666;
  opacity: 0;
  transition: opacity 0.5s;
}

#flright:hover {
  opacity: 1;
}

#flright:active {
  background-color: #111;
}

@media screen and (min-width: 320px) and (max-width: 1050px) {
  /*////// MEDIA QUERIES //////////////////////////*/

  #h1 {
    font-family: "Playfair Display SC", serif;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 170px;
  }

  #alltop {
    float: left;
    width: 500px;
  }

  #canvas {
    float: left;
    margin-left: 70px;
    width: 60%;
    opacity: 1;
    transition: opacity 0.6s;
  }

  #canvas:active {
    opacity: 0;
  }

  #flleft {
    float: left;
    font-size: 10px;
    color: #fff;
    background-color: #999;
    width: 2%;
    padding-left: 5px;
    margin-top: 90px;
    margin-left: 10px;
    box-shadow: 0px 0px 20px #666;
    opacity: 0;
    transition: opacity 0.5s;
  }

  #flleft:hover {
    opacity: 1;
  }

  #flleft:active {
    background-color: #111;
  }

  #flright {
    float: right;
    clear: right;
    font-size: 10px;
    color: #fff;
    background-color: #999;
    width: 2%;
    padding-left: 5px;
    margin-top: 90px;
    margin-right: 25px;
    box-shadow: 0px 0px 20px #666;
    opacity: 0;
    transition: opacity 0.5s;
  }

  #flright:hover {
    opacity: 1;
  }

  #flright:active {
    background-color: #111;
  }
} /*////// MEDIA QUERIES //////////////////////////END//////////*/

/* LE LOSANGE */

.ligne {
  float: left;
  background-color: #222;
  margin-top: 100px;
  margin-left: 60px;
  border-radius: 100px;
}

#losange {
  float: right;
  width: 1332px;
  height: 720px;
  margin-top: 40px;
}

#encimgleft {
  float: left;
  width: 15%;
  margin-left: 125px;
  margin-top: 100px;
}

#imgleft {
  background-image: url(../image/Bleft.jpeg);
  background-size: 350px 573px;
  background-repeat: no-repeat;
  width: 25%;
  height: 475px;
  padding: 200px;
  opacity: 1;
  transition: opacity 0.3s;
}

#imgleft:hover {
  opacity: 0.8;
}

#encimgright {
  float: right;
  width: 25%;
  height: 600px;
  margin-top: 100px;
  margin-right: 61px;
}

#imgright {
  display: inline-block;
  float: left;
  background-image: url(../image/Brightbis.jpeg);
  background-size: 325px 572px;
  background-repeat: no-repeat;
  width: 25%;
  height: 300px;
  padding: 150px;
  opacity: 1;
  transition: opacity 0.3s;
}

#imgright:hover {
  opacity: 0.8;
}

#encimgcenter {
  position: relative;
  width: 10%;
  bottom: 875px;
  left: 500px;
}

#imgcenter {
  float: left;
  background-image: url(../image/BBcenter.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50%;
  padding-left: 348px;
  padding-top: 290px;
  opacity: 1;
  transition: opacity 0.3s;
}

#imgcenter:hover {
  opacity: 0.8;
}

#encimgcenter2 {
  position: relative;
  bottom: 12px;
  left: 500px;
  width: 10%;
}

#imgcenter2 {
  position: relative;
  background-image: url(../image/Bcenterbis.jpeg);
  background-size: 414px 264px;
  background-repeat: no-repeat;
  padding-left: 420px;
  padding-top: 290px;
  opacity: 1;
  transition: opacity 0.3s;
}

#imgcenter2:hover {
  opacity: 0.8;
}

#oeiltext {
  position: relative;
  top: 175px;
  right: 450px;
  min-width: 35%;
  width: 35%;
  height: 400px;
  border: 10px solid #111;
}

#encoeil {
  position: relative;
  background-image: url(../image/apareil.png);
  background-size: 60%;
  background-repeat: no-repeat;
  left: 190px;
  top: 65px;
  width: 30%;
  height: 100px;
}

#textchan {
  position: absolute;
  color: #111;
  text-align: center;
  font-size: 45px;
  font-family: "Alegreya", serif;
  left: 25px;
  top: 115px;
  width: 90%;
  opacity: 1;
}

@media screen and (min-width: 320px) and (max-width: 1050px) {
  /*////// MEDIA QUERIES //////////////////////////*/

  .ligne {
    float: left;
    clear: both;
    background-color: #222;
    width: 480px;
    height: 4px;
    margin-top: 100px;
    margin-left: 0px;
    border-radius: 100px;
  }

  #losange {
    float: left;
    clear: both;
    margin-top: 40px;
  }

  #encimgleft {
    position: relative;
    width: 25px;
    max-width: 25px;
    top: 408px;
    right: 88px;
  }

  #imgleft {
    background-image: url(../image/Bleft.jpeg);
    background-size: 51.8%;
    background-repeat: no-repeat;
    width: 5%;
    height: 00px;
    padding: 200px;
    opacity: 1;
    transition: opacity 0.3s;
  }

  #imgleft:hover {
    opacity: 0.8;
  }

  #encimgright {
    position: relative;
    width: 330px;
    height: 550px;
    top: 408px;
    right: 680px;
  }

  #imgright {
    background-image: url(../image/Brightbis.jpeg);
    background-size: 64.7%;
    background-repeat: no-repeat;
    width: 5%;
    height: 100px;
    padding: 150px;
    opacity: 1;
    transition: opacity 0.3s;
  }

  #imgright:hover {
    opacity: 0.8;
  }

  #encimgcenter {
    position: relative;
    width: 10%;
    top: 830px;
    left: 32px;
  }

  #imgcenter {
    position: absolute;
    background-image: url(../image/BBcenter.jpeg);
    background-size: 208px 136px;
    background-repeat: no-repeat;
    width: 20%;
    left: 5px;
    padding: 100px;
    opacity: 1;
    transition: opacity 0.3s;
  }

  #imgcenter:hover {
    opacity: 0.8;
  }

  #encimgcenter2 {
    position: relative;
    top: 460px;
    left: 261px;
    width: 10%;
  }

  #imgcenter2 {
    /*background-color: red;*/
    background-image: url(../image/Bcenterbis.jpeg);
    background-size: 58.5%;
    background-repeat: no-repeat;
    width: 8%;
    padding: 170px;
    opacity: 1;
    transition: opacity 0.3s;
  }

  #imgcenter2:hover {
    opacity: 0.8;
  }

  #oeiltext {
    position: relative;
    top: 50px;
    left: 100px;
    min-width: 280px;
    width: 280px;
    height: 350px;
    border: 10px solid #111;
  }

  #encoeil {
    position: relative;
    background-image: url(../image/apareil.png);
    background-size: 80%;
    background-repeat: no-repeat;
    left: 100px;
    top: 65px;
    width: 30%;
    height: 100px;
  }

  #textchan {
    color: #111;
    font-size: 30px;
    font-family: "Alegreya", serif;
    width: 80%;
    opacity: 1;
  }

  #lignebas {
    position: relative;
    top: 250px;
  }
} /*////// MEDIA QUERIES //////////////////////////END//////////*/

/* PROFIL DE LA PHOTOGRAPHE */

#profil {
  float: left;
  color: #fff;
  width: 900px;
  margin-top: 100px;
  margin-left: 50px;
}

#img {
  float: left;
  background-image: url(../image/profil.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50%;
  height: 700px;
  margin: 20px 20px;
}

#text1 {
  position: relative;
  background-color: rgba(25, 25, 25, 0.8);
  font-size: 25px;
  font-family: "Open Sans Condensed", sans-serif;
  bottom: 0px;
  left: 350px;
  width: 50%;
  height: 600px;
  padding: 50px;
  transition: background-color 0.7s;
}

#text1:hover {
  background-color: rgba(25, 25, 25, 1);
}

#intext {
  position: absolute;
  margin-right: 50px;
}

#profillie {
  position: relative;
  background-image: url(../image/ellie.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 670px;
  height: 500px;
  top: 2100px;
  left: 1160px;
}

#textell {
  position: relative;
  color: #fff;
  background-color: rgba(25, 25, 25, 0.8);
  font-size: 25px;
  font-family: "Open Sans Condensed", sans-serif;
  width: 463px;
  height: 120px;
  top: 1950px;
  left: 1100px;
  padding: 30px;
  transition: background-color 0.7s;
}

#textell:hover {
  background-color: rgba(25, 25, 25, 1);
}
#ellintext {
  position: absolute;
}

#allacounts {
  float: left;
  width: 1900px;
  font-size: 30px;
  font-family: "Open Sans Condensed", sans-serif;
  margin-left: 0px;
}

#acountalex {
  float: left;
  width: 400px;
  padding-left: 20px;
  margin-left: 100px;
}

#instaA {
  position: absolute;
  background-color: #fff;
  background-image: url(../image/insta.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 95px;
  height: 96px;
  top: 2995px;
  left: 500px;
  border-radius: 100px;
  transition: background-color 0.4s;
}

#instaA:hover {
  background-color: #ddd;
}

#instaE {
  position: absolute;
  background-color: #fff;
  background-image: url(../image/insta.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 95px;
  height: 96px;
  top: 2995px;
  left: 1675px;
  border-radius: 100px;
  transition: background-color 0.4s;
}

#instaE:hover {
  background-color: #ddd;
}

#acountellie {
  float: right;
  width: 380px;
  padding-left: 20px;
  margin-right: 200px;
}

@media screen and (min-width: 320px) and (max-width: 1050px) {
  /*////// MEDIA QUERIES //////////////////////////*/

  #profil {
    float: left;
    clear: both;
    margin-top: 300px;
    margin-left: 0px;
  }

  #img {
    float: left;
    background-image: url(../image/profil.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 250px;
    height: 500px;
  }

  #text1 {
    position: absolute;
    background-color: rgba(25, 25, 25, 0.8);
    font-size: 15px;
    font-family: "Open Sans Condensed", sans-serif;
    top: 1700px;
    left: 200px;
    width: 180px;
    height: 450px;
    padding: 50px;
    transition: background-color 0.7s;
  }

  #text1:hover {
    background-color: rgba(25, 25, 25, 1);
  }

  #profillie {
    float: left;
    clear: both;
    background-image: url(../image/ellie.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 280px;
    height: 500px;
    top: 0px;
    left: 0px;
    margin-left: 180px;
    margin-top: 150px;
  }

  #textell {
    position: absolute;
    color: #fff;
    background-color: rgba(25, 25, 25, 0.8);
    font-size: 15px;
    font-family: "Open Sans Condensed", sans-serif;
    width: 240px;
    height: 70px;
    top: 2550px;
    left: 50px;
    padding: 30px;
    padding-right: 60px;
    transition: background-color 0.7s;
  }

  #textell:hover {
    background-color: rgba(25, 25, 25, 1);
  }

  #allacounts {
    font-size: 20px;
    height: 0px;
    font-family: "Open Sans Condensed", sans-serif;
  }

  #acountalex {
    position: relative;
    width: 300px;
    bottom: 630px;
    right: 80px;
  }

  #instaA {
    position: absolute;
    background-color: #fff;
    background-image: url(../image/insta.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20%;
    height: 65px;
    top: 0px;
    left: 280px;
    border-radius: 100px;
    transition: background-color 0.4s;
  }

  #instaA:hover {
    background-color: #ddd;
  }

  #instaE {
    position: absolute;
    background-color: #fff;
    background-image: url(../image/insta.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 7%;
    height: 70px;
    top: 0px;
    left: 270px;
    border-radius: 100px;
    transition: background-color 0.4s;
  }

  #instaE:hover {
    background-color: #ddd;
  }

  #acountellie {
    position: relative;
    width: 51%;
    bottom: 190px;
    right: 690px;
  }

  #lignelast {
    position: relative;
    bottom: 125px;
    right: 0px;
  }
} /*////// MEDIA QUERIES //////////////////////////END//////////*/

/* LE PORTEFOLIO */

#allphos {
  float: left;
  width: 1900px;
  height: 1200px;
}

#photo1 {
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 600px;
  top: 150px;
  left: 50px;
  opacity: 1;
  transition: opacity 1s;
}

#portf {
  position: relative;
  width: 50%;
  height: 650px;
  bottom: 855px;
  left: 800px;
  padding-bottom: 25px;
  border: 2px solid #111;
}

#portf h2 {
  text-align: center;
  font-size: 40px;
  font-family: "Open Sans Condensed", sans-serif;
  margin-left: 0px;
}

#portf p {
  text-align: center;
  font-size: 23px;
  font-family: "Roboto Slab", serif;
  padding: 20px;
}

#portfolio {
  position: relative;
  width: 27%;
  bottom: 830px;
  left: 1023px;
  border: 2px solid #111;
}

#portfolio p {
  text-align: center;
  font-size: 23px;
  font-family: "Roboto Slab", serif;
}

button {
  background-color: rgba(25, 25, 25, 0);
  font-size: 40px;
  margin-left: 170px;
  margin-bottom: 30px;
  padding: 10px;
  border: 3px dotted #111;
  border-radius: 30px;
  transition: box-shadow 0.3s, border 0.3s, background-color 0.5s;
}

button a {
  color: #111;
  text-decoration: none;
  font-family: "Alegreya", serif;
}

button:hover {
  border: 3px dotted rgb(10, 10, 10);
  box-shadow: 0px 0px 10px rgba(10, 10, 10, 1),
    inset 0px 0px 10px rgba(10, 10, 10, 1);
}

#changimag {
  position: relative;
  background-image: url(../image/fleche.png);
  background-size: 60%;
  background-repeat: no-repeat;
  width: 5%;
  height: 80px;
  bottom: 930px;
  left: 670px;
  opacity: 1;
  transition: opacity 0.3s;
}

#changimag:hover {
  opacity: 0.6;
}
#changimag:active {
  opacity: 1;
}

#changtext {
  position: absolute;
  font-size: 30px;
  font-family: "Open Sans Condensed", sans-serif;
  top: 4140px;
  left: 740px;
  opacity: 0;
  transition: opacity 0.5s;
}

@media screen and (min-width: 320px) and (max-width: 1050px) {
  /*////// MEDIA QUERIES //////////////////////////*/

  #allphos {
    float: left;
    clear: both;
    width: 500px;
    height: 550px;
    margin-top: 0px;
  }

  #photo1 {
    float: left;
    background-repeat: no-repeat;
    width: 250px;
    font-size: 40px;
    top: 0px;
    left: 0px;
    margin-left: 20px;
    opacity: 1;
    transition: opacity 1s;
  }

  #portf {
    position: relative;
    width: 250px;
    height: 520px;
    top: 450px;
    left: 70px;
    border: 2px solid #111;
    padding-right: 80px;
    padding-left: 30px;
    padding-bottom: 15px;
  }

  #portf h2 {
    font-size: 20px;
    font-family: "Open Sans Condensed", sans-serif;
  }

  #portf p {
    font-size: 13px;
    font-family: "Roboto Slab", serif;
    padding: 0px;
  }

  #textinport {
    position: absolute;
    width: 300px;
  }

  #portfolio {
    position: relative;
    width: 140px;
    bottom: 539px;
    left: 300px;
    padding: 0px;
    border: 2px solid #111;
  }

  #portfolio p {
    text-align: center;
    font-size: 13px;
    font-family: "Roboto Slab", serif;
  }

  button {
    font-size: 20px;
    margin-top: 0px;
    margin-left: 22px;
    margin-bottom: 30px;
    padding: 10px;
    border: 3px dotted #111;
    border-radius: 30px;
    transition: box-shadow 0.3s, border 0.3s, background-color 0.5s;
  }

  button a {
    color: #111;
    text-decoration: none;
    font-family: "Alegreya", serif;
  }

  button:hover {
    border: 3px dotted rgb(10, 10, 10);
    box-shadow: 0px 0px 10px rgba(10, 10, 10, 1),
      inset 0px 0px 10px rgba(10, 10, 10, 1);
  }

  #changimag {
    position: absolute;
    background-image: url(../image/fleche.png);
    background-size: 60%;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    top: 3330px;
    left: 280px;
    opacity: 1;
    transition: opacity 0.3s;
  }

  #changimag:hover {
    opacity: 0.6;
  }
  #changimag:active {
    opacity: 1;
  }

  #changtext {
    position: absolute;
    font-size: 20px;
    font-family: "Open Sans Condensed", sans-serif;
    top: 3320px;
    left: 335px;
    opacity: 0;
    transition: opacity 0.5s;
  }
} /*////// MEDIA QUERIES //////////////////////////END//////////*/

/* LES TARIFS */

#alltarifs {
  float: left;
  width: 1907px;
  font-family: "Amatic SC", cursive;
}

#contar {
  float: left;
  font-size: 40px;
  font-family: "Open Sans Condensed", sans-serif;
  height: 200px;
  padding: 50px;
  margin-top: 50px;
  margin-left: 50px;
}

#titleta {
  position: relative;
  bottom: 100px;
  font-size: 60px;
  margin-left: 800px;
}

#cadre {
  float: left;
  clear: left;
  margin-right: 50px;
  border: 2px solid #222;
  margin-top: 0px;
  margin-left: 100px;
}

#cadre2 {
  float: left;
  height: 288px;
  padding-right: 38px;
  margin-left: 0px;
  margin-top: 0px;
  border: 2px solid #222;
}

#contar p {
  float: left;
  margin: 50px;
}

.prix {
  float: left;
  font-size: 35px;
}

#pr {
  float: left;
  margin-top: 55px;
  font-size: 60px;
}

#pr2 {
  float: left;
  margin-top: 35px;
  font-size: 60px;
}

#lieux {
  float: left;
  font-size: 40px;
  font-family: "Open Sans Condensed", sans-serif;
  margin-top: 300px;
  margin-left: 650px;
}

@media screen and (min-width: 320px) and (max-width: 1050px) {
  /*////// MEDIA QUERIES //////////////////////////*/

  #alltarifs {
    float: left;
    font-family: "Amatic SC", cursive;
    width: 100%;
    height: 400px;
    margin-top: 300px;
  }

  #contar {
    float: left;
    font-family: "Open Sans Condensed", sans-serif;
    height: 200px;
    margin-top: 50px;
  }

  #titleta {
    position: relative;
    width: 30%;
    font-size: 40px;
    top: 100px;
    right: 700px;
  }

  #cadre {
    position: relative;
    margin-right: 50px;
    border: 2px solid #222;
    top: 150px;
    right: 140px;
  }

  #cadre2 {
    position: relative;
    height: 140px;
    top: 180px;
    right: 43px;
    border: 2px solid #222;
  }

  #contar p {
    float: left;
    margin: 15px;
  }

  .prix {
    float: left;
    font-size: 20px;
  }

  #pr {
    float: left;
    margin-top: 35px;
    font-size: 30px;
  }

  #pr2 {
    float: left;
    margin-top: 35px;
    font-size: 30px;
  }

  #lieux {
    float: left;
    font-size: 20px;
    font-family: "Open Sans Condensed", sans-serif;
    margin-top: 400px;
    margin-left: 70px;
  }
} /*////// MEDIA QUERIES //////////////////////////END//////////*/

/* L'ESPACE DE CONTACT */

#contact {
  float: left;
  background-color: #222;
  width: 1907px;
  height: 1100px;
  margin-top: 00px;
}

#titcon {
  text-align: center;
}

#titcon h2 {
  font-size: 50px;
  font-family: "Open Sans Condensed", sans-serif;
}

#field {
  margin: 100px 400px;
}

#legend {
  background-color: #fff;
  text-align: center;
}

#legend p {
  font-size: 40px;
  font-family: "Open Sans Condensed", sans-serif;
}

#texteleg {
  padding: 30px;
}

#form {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  opacity: 1;
}

.in1 {
  margin-left: 110px;
}

.in2 {
  margin-left: 200px;
}

.in3 {
  font-size: 16px;
  margin-left: 235px;
}

#win {
  position: absolute;
  background-color: green;
  font-size: 20px;
  width: 165px;
  height: 60px;
  top: 5210px;
  left: 875px;
  padding-left: 20px;
  opacity: 0;
}

#submit {
  font-size: 20px;
  padding: 5px;
  margin-left: 150px;
}

@media screen and (min-width: 320px) and (max-width: 1050px) {
  /*////// MEDIA QUERIES //////////////////////////*/

  #contact {
    float: left;
    background-color: #222;
    width: 486px;
    height: 1100px;
    margin-top: 410px;
  }

  #titcon {
    text-align: center;
  }

  #titcon h2 {
    font-size: 20px;
    font-family: "Open Sans Condensed", sans-serif;
  }

  #field {
    margin: 100px 10px;
  }

  #legend {
    background-color: #fff;
    text-align: center;
  }

  #legend p {
    font-size: 15px;
    font-family: "Open Sans Condensed", sans-serif;
  }

  #texteleg {
    padding: 10px;
  }

  #form {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    opacity: 1;
  }

  .in1 {
    margin-top: 10px;
    margin-left: 0px;
  }

  .in2 {
    margin-top: 2px;
    margin-left: 0px;
  }

  .in3 {
    font-size: 16px;
    margin-left: 0px;
  }

  #mess {
    width: 350px;
  }

  #submit {
    font-size: 20px;
    padding: 5px;
    margin-left: 150px;
    margin-top: 50px;
  }
} /*////// MEDIA QUERIES //////////////////////////END//////////*/

/*LE COPYRIGHT*/

#foot {
  float: left;
  color: #fff;
  background-color: #222;
  width: 100%;
  height: 100px;
}

.credit {
  text-align: center;
  font-size: 15px;
}

/* /// /// TOUTES LES PHOTOS DU PORTFOLIO /// /// */

#allimages {
  width: 1903px;
  min-width: 1900px;
}

#img1 {
  float: left;
  background-image: url(../imgPortf/01.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 400px;
  margin-left: 225px;
  margin-top: 100px;
}

#img2 {
  float: left;
  background-image: url(../imgPortf/02.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 475px;
  margin-left: 30px;
  margin-top: 100px;
}

#img3 {
  float: left;
  background-image: url(../imgPortf/03.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 425px;
  margin-top: 100px;
  margin-left: 30px;
}

#img4 {
  float: left;
  background-image: url(../imgPortf/04.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 450px;
  margin-top: 100px;
  margin-left: 30px;
}

#img5 {
  position: relative;
  background-image: url(../imgPortf/05.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 476px;
  height: 300px;
  top: 535px;
  left: 92px;
}

#img6 {
  position: relative;
  background-image: url(../imgPortf/06.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 500px;
  top: 310px;
  left: 598px;
}

#img7 {
  position: absolute;
  background-image: url(../imgPortf/07.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 600px;
  top: 705px;
  left: 970px;
}

#img8 {
  position: absolute;
  background-image: url(../imgPortf/08.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 380px;
  height: 500px;
  top: 700px;
  left: 1344px;
}

#img9 {
  position: absolute;
  background-image: url(../imgPortf/09.jpeg);
  background-size: 70%;
  background-repeat: no-repeat;
  width: 476px;
  height: 500px;
  top: 1010px;
  left: 235px;
}

#img10 {
  position: absolute;
  background-image: url(../imgPortf/10.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 500px;
  top: 1008px;
  left: 599px;
}

#img11 {
  position: absolute;
  background-image: url(../imgPortf/111.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 500px;
  top: 1240px;
  left: 970px;
}

#img12 {
  position: absolute;
  background-image: url(../imgPortf/122.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 500px;
  top: 980px;
  left: 1345px;
}

#img13 {
  position: absolute;
  background-image: url(../imgPortf/133.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 399px;
  height: 500px;
  top: 1543px;
  left: 169px;
}

#img14 {
  position: absolute;
  background-image: url(../imgPortf/14.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 500px;
  top: 1540px;
  left: 599px;
}

#img15 {
  position: absolute;
  background-image: url(../imgPortf/15.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 500px;
  top: 1495px;
  left: 970px;
}

#img16 {
  position: absolute;
  background-image: url(../imgPortf/16.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 500px;
  top: 1514px;
  left: 1345px;
}

#img17 {
  position: absolute;
  background-image: url(../imgPortf/17.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 500px;
  top: 1835px;
  left: 225px;
}

#img18 {
  position: absolute;
  background-image: url(../imgPortf/18.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 500px;
  top: 2079px;
  left: 599px;
}

#img19 {
  position: absolute;
  background-image: url(../imgPortf/199.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 500px;
  top: 1900px;
  left: 970px;
}

#img20 {
  position: absolute;
  background-image: url(../imgPortf/20.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 419px;
  height: 500px;
  top: 2050px;
  left: 1345px;
}

#img21 {
  position: absolute;
  background-image: url(../imgPortf/21.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 419px;
  height: 500px;
  top: 2375px;
  left: 149px;
}

#img22 {
  position: absolute;
  background-image: url(../imgPortf/22.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 500px;
  top: 2448px;
  left: 599px;
}

#img23 {
  position: absolute;
  background-image: url(../imgPortf/23.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 500px;
  top: 2440px;
  left: 970px;
}

#img24 {
  position: absolute;
  background-image: url(../imgPortf/24.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 500px;
  top: 2360px;
  left: 1345px;
}

#img25 {
  position: absolute;
  background-image: url(../imgPortf/25.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 500px;
  top: 2685px;
  left: 225px;
}

#img26 {
  position: absolute;
  background-image: url(../imgPortf/26.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 500px;
  top: 2985px;
  left: 599px;
}

#img27 {
  position: absolute;
  background-image: url(../imgPortf/27.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 500px;
  top: 2980px;
  left: 970px;
}

#img28 {
  position: absolute;
  background-image: url(../imgPortf/28.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 500px;
  top: 2818px;
  left: 1345px;
}

#img29 {
  position: absolute;
  background-image: url(../imgPortf/29.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 500px;
  top: 3230px;
  left: 225px;
}

#img30 {
  position: absolute;
  background-image: url(../imgPortf/30.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 500px;
  top: 3327px;
  left: 599px;
}

#img31 {
  position: absolute;
  background-image: url(../imgPortf/31.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 500px;
  top: 3430px;
  left: 970px;
}

#img32 {
  position: absolute;
  background-image: url(../imgPortf/32.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 419px;
  height: 500px;
  top: 3360px;
  left: 1345px;
}

#img33 {
  position: absolute;
  background-image: url(../imgPortf/33.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 419px;
  height: 500px;
  top: 3770px;
  left: 149px;
}

#img34 {
  position: absolute;
  background-image: url(../imgPortf/34.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 419px;
  height: 500px;
  top: 3675px;
  left: 1345px;
}

#portfooter {
  margin-top: 3280px;
}

@media screen and (min-width: 320px) and (max-width: 1050px) {
  /*////// MEDIA QUERIES //////////////////////////*/

  #img1 {
    position: absolute;
    background-image: url(../imgPortf/01.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 400px;
    right: 335px;
  }

  #img2 {
    position: absolute;
    background-image: url(../imgPortf/02.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 475px;
    top: 124px;
    left: 235px;
  }

  #img3 {
    position: absolute;
    background-image: url(../imgPortf/03.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 425px;
    top: 385px;
    margin-left: 35px;
  }

  #img4 {
    position: absolute;
    background-image: url(../imgPortf/04.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 450px;
    top: 445px;
    left: 233px;
  }

  #img5 {
    position: relative;
    background-image: url(../imgPortf/05.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 300px;
    top: 635px;
    left: 35px;
  }

  #img6 {
    position: relative;
    background-image: url(../imgPortf/06.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 385px;
    left: 263px;
  }

  #img7 {
    position: absolute;
    background-image: url(../imgPortf/07.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 600px;
    top: 915px;
    left: 35px;
  }

  #img8 {
    position: absolute;
    background-image: url(../imgPortf/08.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 965px;
    left: 263px;
  }

  #img9 {
    position: absolute;
    background-image: url(../imgPortf/09.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 1235px;
    left: 35px;
  }

  #img10 {
    position: absolute;
    background-image: url(../imgPortf/10.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 1125px;
    left: 263px;
  }

  #img11 {
    position: absolute;
    background-image: url(../imgPortf/111.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 1440px;
    left: 263px;
  }

  #img12 {
    position: absolute;
    background-image: url(../imgPortf/122.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 1600px;
    left: 263px;
  }

  #img13 {
    position: absolute;
    background-image: url(../imgPortf/133.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 1560px;
    left: 35px;
  }

  #img14 {
    position: absolute;
    background-image: url(../imgPortf/14.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 1720px;
    left: 35px;
  }

  #img15 {
    position: absolute;
    background-image: url(../imgPortf/15.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 195px;
    top: 1925px;
    left: 263px;
  }

  #img16 {
    position: absolute;
    background-image: url(../imgPortf/16.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 2045px;
    left: 35px;
  }

  #img17 {
    position: absolute;
    background-image: url(../imgPortf/17.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 2155px;
    left: 263px;
  }

  #img18 {
    position: absolute;
    background-image: url(../imgPortf/18.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 2375px;
    left: 35px;
  }

  #img19 {
    position: absolute;
    background-image: url(../imgPortf/199.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 2475px;
    left: 263px;
  }

  #img20 {
    position: absolute;
    background-image: url(../imgPortf/20.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 2595px;
    left: 35px;
  }

  #img21 {
    position: absolute;
    background-image: url(../imgPortf/21.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 2800px;
    left: 263px;
  }

  #img22 {
    position: absolute;
    background-image: url(../imgPortf/22.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 2760px;
    left: 35px;
  }

  #img23 {
    position: absolute;
    background-image: url(../imgPortf/23.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 2960px;
    left: 263px;
  }

  #img24 {
    position: absolute;
    background-image: url(../imgPortf/24.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 3085px;
    left: 35px;
  }

  #img25 {
    position: absolute;
    background-image: url(../imgPortf/25.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 3290px;
    left: 263px;
  }

  #img26 {
    position: absolute;
    background-image: url(../imgPortf/26.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 3360px;
    left: 35px;
  }

  #img27 {
    position: absolute;
    background-image: url(../imgPortf/27.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 3570px;
    left: 35px;
  }

  #img28 {
    position: absolute;
    background-image: url(../imgPortf/28.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 3620px;
    left: 263px;
  }

  #img29 {
    position: absolute;
    background-image: url(../imgPortf/29.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 3945px;
    left: 263px;
  }

  #img30 {
    position: absolute;
    background-image: url(../imgPortf/30.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 3830px;
    left: 35px;
  }

  #img31 {
    position: absolute;
    background-image: url(../imgPortf/31.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 4160px;
    left: 35px;
  }

  #img32 {
    position: absolute;
    background-image: url(../imgPortf/32.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 4270px;
    left: 263px;
  }

  #img33 {
    position: absolute;
    background-image: url(../imgPortf/33.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 4430px;
    left: 35px;
  }

  #img34 {
    position: absolute;
    background-image: url(../imgPortf/34.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    max-width: 195px;
    height: 500px;
    top: 4435px;
    left: 263px;
  }

  #portfooter {
    margin-top: 3915px;
  }
} /*////// MEDIA QUERIES //////////////////////////END//////////*/
