.contact-page {
  display: flex;
  justify-content: center;
}

.contact-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;

  text-align: center;
}

.contact-background {
  @include img-background;
  width: 33vw;
  height: 100vh;
  min-height: 600px;
  opacity: 0.5;
  z-index: -1;
}

.contact-background.one {
  grid-column: 1/2;
  background-image: url("../BodyCompo/PortfImg/4Event/Section_event3.jpg");
  box-shadow: -200px 0px 150px inset #181717;
}

.contact-text {
  background-color: #181717;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 2/3;
  color: #fff;
  font-size: 22px;
  h2 {
    font-family: $second-font;
    font-style: italic;
  }
  p {
    font-family: $second-font;
  }
}

.contact-background.two {
  grid-column: 3/4;
  background-image: url("../BodyCompo/PortfImg/3Solo/Section_solo3.jpg");
  box-shadow: 200px 0px 150px inset #181717;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, $main-background-color, #4e125a);
  width: 70px;
  height: 70px;
  box-shadow: 0px 0px $main-background-color;
  margin: 30px 280px;
  border-radius: 10px;
  transition: all 0.5s;
}

.icon-insta {
  background-image: url("../BodyCompo/Contact/icon-insta.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  width: 40px;
  height: 50px;
  padding: 10px;
}

.icon-container:hover {
  transform: translateY(-10px);
  box-shadow: -30px 0px 50px $main-background-color, 30px 0px 60px #4e125a;
}

@media screen and (max-width: 980px) {
  .contact-text {
    background-color: #181717;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2/3;
    color: #fff;
    font-size: 22px;
    width: 550px;
  }

  .contact-background.one {
    display: none;
    grid-column: 1/2;
    background-image: url("../BodyCompo/PortfImg/4Event/Section_event3.jpg");
    box-shadow: -200px 0px 150px inset #181717;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, $main-background-color, #4e125a);
    width: 70px;
    height: 70px;
    box-shadow: 0px 0px $main-background-color;
    margin: 30px 250px;
    border-radius: 10px;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 750px) {
  .contact-page {
    display: flex;
    justify-content: center;
  }

  .contact-content {
    display: flex;
    justify-content: center;
    width: 390px;
    height: 100vh;
    text-align: center;
  }

  .contact-background {
    display: none;
  }

  .contact-text {
    background-color: #181717;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    width: 320px;
    min-height: 400px;

    margin: 150px 0px;
    h2 {
      font-family: $second-font;
      font-style: italic;
    }
    p {
      font-family: $second-font;
    }
  }

  .icon-container {
    display: flex;
    background: linear-gradient(90deg, $main-background-color, #4e125a);
    width: 70px;
    height: 70px;
    box-shadow: 0px 0px $main-background-color;
    margin-left: 140px;
    border-radius: 10px;
    transition: all 0.5s;
  }

  .icon-insta {
    background-image: url("../BodyCompo/Contact/icon-insta.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    width: 40px;
    height: 50px;
    padding: 10px;
  }

  .icon-container:hover {
    transform: translateY(-10px);
    box-shadow: -30px 0px 50px $main-background-color, 30px 0px 60px #4e125a;
  }
}
