@import "./index.scss";
@import "./Home.scss";
@import "./Portfolio.scss";
@import "./Contact.scss";
@import "./Shooting.scss";

.header-container {
  background-color: rgba(185, 68, 26, 0);
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  transition: background-color 0.3s;
}

.header-container.active {
  background-color: $main-background-color;
}

h1 {
  color: #fff;
  font-size: 50px;
  font-family: "Fasthand", cursive;
  font-weight: 200;
  margin: 0px 80px;
}

.ul-menu {
  display: flex;
  justify-content: space-between;
  width: 35vw;
  min-width: 500px;
  height: 15vh;
  margin: 25px 60px;
  li {
    height: 7vh;
    list-style: none;
  }
}
.material-symbols-outlined {
  display: none;
}

.link-menu {
  color: #fff;
  font-size: 36px;
  text-decoration: none;
  //margin: 0 20px;
  font-family: "Satisfy", cursive;
  font-style: italic;
}

.dropdown-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $main-background-color;
  width: 4vw;
  height: 15vh;
  top: 90px;
}

.dropdown-link {
  font-family: $main-font;
  font-size: 21px;
  text-decoration: none;
  color: #fff;
  margin-left: -20px;
}

// RESPONSIVE /////////////
@media screen and (max-width: 1100px) {
  .header-container {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 180px;
    transition: background-color 0.3s;
  }

  .material-symbols-outlined {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 40px;
    margin-top: 80px;
  }
  nav {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 8vh;
  }

  .ul-menu {
    background-color: $main-background-color;
    position: relative;
    display: none;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 110vh;
    top: 0px;
    left: 50px;
    margin: 0;

    li {
      color: #111;
      height: 7vh;
      list-style: none;
    }
  }

  .dropdown-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $main-background-color;
    width: 80px;
    height: 15vh;
    top: 170px;
  }
}

// PHONE /////////////
@media screen and (max-width: 750px) {
  .header-container {
    background-color: rgba(185, 68, 26, 0);
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 390px;
    height: 100px;
    transition: background-color 0.3s;
  }
  h1 {
    color: #fff;
    font-size: 30px;
    font-family: "Fasthand", cursive;
    font-weight: 200;
    margin: 0px 20px;
  }
  .material-symbols-outlined {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 40px;
    margin-top: 30px;
  }
  nav {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 8vh;
  }

  .ul-menu {
    background-color: $main-background-color;
    position: relative;
    display: none;
    justify-content: space-evenly;
    flex-direction: column;
    height: 110vh;
    top: 0px;
    left: 150px;
    margin: 0;

    li {
      color: #111;
      height: 7vh;
      list-style: none;
    }
  }
  .link-menu {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    font-family: "Satisfy", cursive;
    font-style: italic;
  }
}
