@import "./Home/Home.scss";
@import "./Portfolio/Portfolio.scss";
@import "./About.scss";

.header-container {
  display: fixed;
  overflow: hidden;
  margin-top: 0;
  width: 100vw;
  z-index: -1;
  background-color: rgba(3, 3, 3, 0.4);
}

h1 {
  color: #fff;
  font-size: 38px;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

.material-symbols-outlined {
  position: absolute;
  color: #fff;
  font-size: 40px;
  left: 45%;
}

#arrow-menu-up {
  display: none;
  top: 200px;
}

#arrow-menu-down {
  display: block;
  top: 62px;
}

.ul-menu {
  display: none;
  flex-wrap: wrap;
  height: 15vh;
}

li {
  list-style: none;
}

.link-menu {
  color: #fff;
  font-size: 26px;
  text-decoration: none;
  margin: 0 35px;
  font-family: "Noto Serif Display", serif;
  font-style: italic;
}

.link-menu::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: right;
  transition: transform 0.25 ease-out;
}

.link-menu:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
