.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 80vh;
}

.box-container {
  background-size: cover;
  background-position: center bottom;
  width: 350px;
  height: 700px;
  margin-top: 70px;
  box-shadow: 5px 2px 15px #121212;
  transition: transform 0.3s;
  cursor: pointer;
}

.box-container:hover {
  transform: translateY(-10px);
}

.box-container.second {
  position: absolute;
  width: 340px;
  height: 680px;
  top: 107px;
  z-index: -5;
}

.box-container.third {
  position: absolute;
  width: 340px;
  height: 660px;
  top: 117px;
  z-index: -6;
}

/**
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98.2vw;
}
.home-img-container {
  display: block;
  z-index: -1;
  height: 110vh;
}

.home-img-home {
  background-image: url("../BodyCompo/HomeImg/Section_animal.jpg");
  @include img-background;
  width: 100vw;
  height: 1100px;
}

.home-content-down {
  background-color: #181717;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 100vw;
  height: 1600px;
}

.home-content-part-one {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  margin-top: 100px;
}

.part-one-text {
  display: flex;
  flex-direction: column;
  width: 20vw;
  min-width: 22em;
  h2 {
    background-color: $main-background-color;
    text-align: center;
    font-size: 30px;
    font-family: "Recursive", sans-serif;
    font-style: extrabold;
    padding: 10px;
    padding-left: 25px;
    border-radius: 20px;
  }
  p {
    font-family: "Recursive", sans-serif;
    font-size: 20px;
    width: 18vw;
    min-width: 17em;
    margin-left: 20px;
  }
}
.img-container-and-descript {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
}

.part-one-img {
  background-image: url("../BodyCompo/Contact/profil_1.jpg");
  @include img-background;
  width: 20vw;
  min-width: 300px;
  height: 550px;
}

.span-descript {
  font-family: "Recursive", sans-serif;
  margin-top: 20px;
}

.home-content-part-two {
  display: flex;
  flex-direction: column;
  width: 55vw;
  min-width: 700px;

  margin-top: 60px;
}

.part-two-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    text-align: center;
    font-family: $second-font;
    font-size: 26px;
    width: 15vw;
    min-width: 300px;
  }
}
.part-two-button {
  background-color: $main-background-color;
  border-radius: 50px;
  color: #fff;
  font-size: 30px;
  font-family: $main-font;
  padding: 10px 20px;
  border: none;
  box-shadow: 0px 10px 0px rgb(184, 67, 25);
  transition: box-shadow 0.2s, transform 0.2s;
}

.part-two-button:hover {
  transform: translateY(10px);
  box-shadow: none;
}

.part-two-container-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 55vw;
  min-width: 700px;
  margin-top: 30px;
}

.part-two-img {
  width: 18vw;
  min-width: 250px;
  height: 500px;
  min-height: 400px;
  @include img-background;
}

.part-two-img.one {
  background-image: url("../BodyCompo/HomeImg/Section_couple.jpg");
}

.part-two-img.two {
  background-image: url("../BodyCompo/HomeImg/Section_animal0.jpg");
}
.part-two-img.three {
  background-image: url("../BodyCompo/HomeImg/Section_seul.jpg");
}

@media screen and (max-width: 1000px) {
  .home-content-part-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    margin-top: 100px;
  }
  .home-content-part-two {
    display: flex;
    flex-direction: column;
    width: 55vw;
    min-width: 700px;
    height: 1200px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 1370px) {
  .home-content-part-two {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50vw;
    min-width: 700px;

    margin-top: 100px;
  }
  .part-two-container-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media screen and (max-width: 750px) {
  .home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .home-img-home {
    background-image: url("../BodyCompo/PortfImg/1Animals/Section_animal5.jpg");
    @include img-background;
    width: 100vw;
    height: 100vh;
  }

  .home-content-down {
    background-color: #181717;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    width: 390px;
    height: 1600px;
  }
  .home-content-part-one {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    margin: 100px 45px;
  }

  .part-one-text {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 0;
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
      width: 270px;
      min-width: 0;
      margin-left: 20px;
    }
  }
  .img-container-and-descript {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    min-width: 0px;
    margin-top: 50px;
  }
  .home-content-part-two {
    display: flex;
    flex-direction: column;
    width: 320px;
    min-width: 0px;
    height: 1900px;
    margin: 0px 45px;
  }

  .part-two-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      text-align: center;
      font-family: $second-font;
      font-size: 24px;
      width: 15vw;
      min-width: 300px;
    }
  }
  .part-two-button {
    background-color: $main-background-color;
    border-radius: 50px;
    color: #fff;
    font-size: 28px;
    font-family: $main-font;
    padding: 10px 20px;
    border: none;
    box-shadow: 0px 10px 0px rgb(184, 67, 25);
    transition: box-shadow 0.2s, transform 0.2s;
  }

  .part-two-button:hover {
    transform: translateY(10px);
    box-shadow: none;
  }

  .part-two-container-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 320px;
    min-width: 0px;
    margin-top: 30px;
  }

  .part-two-img {
    width: 300px;
    min-width: 0px;
    height: 500px;
    min-height: 0px;
    margin-top: 20px;
    @include img-background;
  }

  .part-two-img.one {
    background-image: url("../BodyCompo/HomeImg/Section_couple.jpg");
  }

  .part-two-img.two {
    background-image: url("../BodyCompo/HomeImg/Section_animal0.jpg");
  }
  .part-two-img.three {
    background-image: url("../BodyCompo/HomeImg/Section_seul.jpg");
  }
}
*/
