/// VAR & MIXIN

//$title-font: ;
$font-main: "Caveat", cursive;
$font-second: "Indie Flower", cursive;
//font-family: 'Caveat', cursive;
//font-family: 'Indie Flower', cursive;
$main-background-color: rgb(211, 110, 42);
$color-background: #181717;

@mixin img-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: #181717;
}
