$font-main: "Caveat", cursive;
$font-second: "Indie Flower", cursive;

$color-background: #181717;

@mixin img-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

body {
  margin: 0;

  background-color: #181717;
}

figure {
  margin: 0;
}
