/// VAR & MIXIN

//$title-font: ;
$main-font: "Noto Serif Display", serif;
$main-background-color: #181717;

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: $main-background-color;
}
