@media screen and (max-width: 600px) {
  .portf-page {
    overflow: scroll;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  .portf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  .portf-img-horizontal {
    margin-top: 10px;
    width: 350px;
    height: 270px;
    border-radius: 5px;
  }
  .portf-img-vertical {
    margin-top: 10px;
    width: 240px;
    height: 360px;
    border-radius: 5px;
  }
}

.portf-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  z-index: -1;
}
.portf-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80vw;
  margin-top: 100px;
}

.portf-img {
  margin: 50px 10px;
  background-size: cover;
  background-position: bottom center;
  width: 30vw;
  height: 20vw;
  border-radius: 5px;
}

.portf-img.vertical {
  width: 20vw;
  height: 30vw;
}

.ligne-portf {
  background-color: rgb(255, 255, 255);
  width: 80vw;
  height: 4px;
  border-radius: 50px;
}

/*.portf-img.horizontal {
  margin-top: 10px;
  width: 350px;
  height: 270px;
  border-radius: 5px;
}
.portf-img.vertical {
  margin-top: 10px;
  width: 240px;
  height: 360px;
  border-radius: 5px;
}*/
