.shooting-page {
  width: 100vw;
  height: 100vh;
}

.shooting-descript-container {
  padding-top: 100px;
  padding-bottom: 20px;
  background-color: #181717;
  height: 15vh;
}
.shooting-descript {
  background-color: #fff;
  color: #222;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  font-family: $font-main;
  padding: 50px 0;
  margin-top: 10px;
  .shooting-link {
    color: #222;
    cursor: pointer;
  }
}

.shooting-container {
  display: flex;
  width: 350px;
  height: 350px;
  margin-top: 50px;
}

.shooting-box-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 700px;
}

.shooting-box {
  color: #fff;
  text-align: center;
  width: 700px;
  height: 500px;
  border: 3px dashed #fff;
}

.shooting-box-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: $font-main;
  font-size: 38px;
  height: 300px;
  h3 {
    font-weight: 200;
  }
  span {
    font-size: 50px;
    font-weight: 800;
  }
}

.shooting-box-content-text {
  text-align: center;
  font-size: 26px;
  font-family: $font-second;
  margin: 0 100px;
  span {
    display: inline-block;
    margin-top: 30px;
    font-size: 50px;
  }
}

.content-text {
  background-color: $color-background;
  opacity: 0;
  margin-top: -50px;
  z-index: 2;
}
.shooting-box-img {
  position: absolute;
  //background-color: green;
  width: 720px;
  height: 500px;
  top: 300px;
  margin-left: -10px;
  .box-img {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 1400px) {
  .shooting-page {
    display: inline-block;
    width: 100vw;
  }

  .shooting-descript {
    background-color: #fff;
    color: #222;
    text-align: center;
    font-size: 24px;
    font-family: $font-main;

    padding: 50px 20px;
    margin-top: 100px;
    .shooting-link {
      color: #222;
      cursor: pointer;
    }
  }

  .shooting-container {
    display: flex;
    width: 350px;
    height: 350px;
    margin-top: 50px;
  }

  .shooting-box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 1200px;
  }

  .shooting-box {
    background-color: #222;
    color: #fff;
    text-align: center;
    width: 250px;
    height: 200px;
    margin: 100px 70px;
    border: 0px dashed #fff;
  }

  .shooting-box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: $font-main;
    font-size: 20px;
    height: 100px;
    z-index: 2;
    h3 {
      font-weight: 200;
    }
    span {
      font-size: 26px;
      font-weight: 800;
    }
  }

  .shooting-box-content-text {
    text-align: center;
    font-size: 16px;
    font-family: $font-second;
    width: 220px;
    margin: 60px 18px;
  }

  .content-text {
    background-color: #222;
    opacity: 1;
  }

  .shooting-box-img {
    display: flex;
    opacity: 1;
    position: relative;
    width: 300px;
    top: -450px;
    height: 250px;
    margin: 0px -25px;
    z-index: -1;

    .box-img {
      width: 200px;
      height: 250px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
