.home-img {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.section-animals {
  background-image: url(../../BodyCompo/HomeImg/Section_animal.jpg);
}
.section-solo {
  background-image: url(../../BodyCompo/HomeImg/Section_seul.jpg);
}
.section-couple {
  background-image: url(../../BodyCompo/HomeImg/Section_couple.jpg);
}
.section-event {
  background-image: url(../../BodyCompo/HomeImg/Section_event.jpg);
}
