@media screen and (max-width: 600px) {
  .home-img-container {
    top: 0px;
    width: 100vw;
    height: 500px;
    z-index: -1;
  }

  .home-img {
    font-size: 20px;
    font-family: $main-font;
    background-color: rgba(1, 1, 1, 0.5);
  }

  h2 {
    color: #fff;
    background-color: rgba(1, 1, 1, 0.5);
    width: 30vw;
    padding: 20px;
  }
}

.home-img-container {
  top: 0px;
  z-index: -1;
}

.home-img.one {
  position: relative;
  top: 100px;
  left: 200px;
  background-color: #fff;
  background-image: url("../../BodyCompo/HomeImg/Section_animal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  width: 80vw;
  height: 80vh;
}

.home-img.two {
  background-color: red;
  background-image: url("../../BodyCompo/HomeImg/Section_couple1.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 110vh;
  background-position: bottom center;
  width: 100vw;
  height: 100vh;
}

h2 {
  font-size: 40px;
  font-family: $main-font;
  color: #fff;
  background-color: rgba(1, 1, 1, 0.5);
  width: 30vw;
  padding: 20px;
}
