.portf-page {
  overflow: scroll;
  position: absolute;
  background-color: #181717;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.portf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.portf-img-horizontal {
  margin-top: 10px;
  width: 350px;
  height: 270px;
  border-radius: 5px;
}
.portf-img-vertical {
  margin-top: 10px;
  width: 240px;
  height: 360px;
  border-radius: 5px;
}
